html, body {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px 30px;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
}

form {
  text-align: center;
}

.preview-frame {
  min-height: 150px;
  width: 150px;
  margin: 20px auto;
  display: block;
}

.display-section {
  margin-top: 30px;
}

.display-section:after {
  content: "";
  display: table;
  clear: both;
}

.image-frame {
  max-width: 100%;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

.file-input {
  width: 0;
  height: 0;
  overflow: hidden;
}

footer {
  width: 100%;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 30px;
  text-align: center;
}
